discord.py
asyncio~=3.4.3
configparser~=5.0.2
SQLAlchemy~=1.4.20
dislash.py
wavelink~=0.9.9
art~=5.2
aiohttp~=3.7.4.post0
git+git://github.com/Rapptz/discord-ext-menus
humanize~=3.9.0
requests~=2.25.1
ujson
Weverse~=1.0.2
psycopg2
